
<div class="wrap">
    <div class="image1">
        <div class="home-contents">
            <div class="top-contents">
                <h1 class="home-text">Bloco-community</h1>
            </div>
            <div class="home-btn01">
                <div class="page">
                <span data-turbolinks="false">
                    <%= link_to "/users/#{current_user.id}" do  %>
                        <button class="fun-btn">press for fun</button>
                    <% end %>
                <span>
                </div>
            </div>        
        </div>
    </div>
</div>
